/* UTILITIES */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
nav {
 font-family: cursive;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}
/* NAVBAR STYLING STARTS */
.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 12px;
 background-color: darkslategrey;
 color: #fff;
}
.nav-links a {
 color: #fff;
}
/* LOGO */
.logo {
 font-size: 32px;
}
/* NAVBAR MENU */
.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}
.menu li:hover {
 background-color: rgba(62, 116, 116, 0.637);
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
 padding: 5px 14px;
}
/* DROPDOWN MENU */
.games {
 position: relative; 
}
.dropdown {
 background-color: darkslategrey;
 padding: 1em 0;
 position: absolute; /*WITH RESPECT TO PARENT*/
 display: none;
 border-radius: 8px;
 top: 35px;
}
.dropdown li + li {
 margin-top: 10px;
}
.dropdown li {
 padding: 0.5em 1em;
 width: 8em;
 text-align: center;
}
.dropdown li:hover {
 background-color: darkslategrey;
}
.services:hover .dropdown {
 display: block;
}
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
 display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
 display: none;
 font-size: 24px;
 user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
.menu { 
 display:none;
 position: absolute;
 background-color:darkslategrey;
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;
}
.menu li:hover {
 display: inline-block;
 background-color: darkslategrey;
 transition: 0.3s ease;
}
.menu li + li {
 margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
 display: block;
}
.hamburger {
 display: block;
}
.dropdown {
 left: 50%;
 top: 30px;
 transform: translateX(35%);
}
.dropdown li:hover {
 background-color: darkslategrey;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
}
.content{
    text-align: center;

}
.header {
    font-size: 50px;
    font-weight: bolder;
    color: white;
    margin: 20px 0px;
}
.subheader{
    font-size: 50px;
    font-size: bold;
    color: black;
}

#fourthContainer {
    width: 800px;
    max-width: 40%;
    height: 800px;
    max-height: 81%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px;
    position: absolute;
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
#gameContainer {
    width: 1100px;
    max-width: 50%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
#vision{
    color: white;
    display: inline-block;
    background-color: darkslategrey;
    padding: 10px;
    margin: 0px 0px 30px; 
    text-align: justify;
    border-radius: 10px;
    font-size: 15px;
    line-height: 25px;
}
#creators{
    color: white;
    display: inline-block;
    background-color: darkslategrey;
    padding: 10px;
    margin: 0px 0px 0px;  
    text-align: justify;
    border-radius: 10px;
    font-size: 15px;
    line-height: 25px;
}
.footer{
    margin: 20px;
    text-align: center;
    color: black;
}
body{
    background-color: #333;
    font-family: 'Segoe UI';
}
.navlogo{
    height: 50px;
    width: 50px;
}
.row {
    display: flex;
    margin:20px;
}
  
.column {
    padding: 5px;
    margin-left: 10px;
}
.pic {
    height: 300px;
    width: 300px;
}
.pic:hover {
    opacity: 70%;
}
.game-label{
    font-size: 30px;
}